@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Merriweather', serif; */
/* font-family: 'Inter', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1320px;
    width: 82.5%;
    margin: 0 auto;
}

.button {
    border-radius: 8px;
    background: #F00;
    border: none;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    /* gap: 10px; */
}

p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

h5 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h3 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

/* Banner */
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.5) 100%), url("../images/Banner.png");
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-radius: 16px;
}

.banner .banner-text {
    text-align: center;
}

.banner .banner-text p {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

.banner .banner-text h1 {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

/* New Year Sale */
#offer {
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
}

.offer {
    margin-top: 120px;
}

.offer .offer-text {
    text-align: center;
}

.offer .offer-text h1 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.offer .offer-text p {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.offer .offer-text h2 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer .offer-img {
    margin-top: 48px;
    height: 500px;
}

.offer .offer-img img {
    width: 100%;

}

/* Greetings */
#greetings {
    margin-top: 120px;
}

.greetings {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Vectorrr.png");
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 16px;
}

.greetings .greetings-text {
    max-width: 700px;
}

.greetings .greetings-text h1 {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.greetings .greetings-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 32px;
}

.greetings .greetings-img {
    position: relative;
}

.greetings .greetings-img img {
    mix-blend-mode: lighten;
    /* multiply makes it invisible */
}

/* Invitation. Place & Date Time */
#invitation {
    margin-top: 120px;
}

.invitation {
    text-align: center;
    height: 482px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.invitation h3 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin-bottom: 48px;
}

/* Best New Offer */
#new-offer {
    margin-top: 120px;
    height: 463px;
}

.new-offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-offer .coming-soon {
    max-width: 393px;
}

.new-offer .coming-soon h3 {
    margin-top: 16px;
    margin-bottom: 22px;
}

.new-offer .year {
    max-width: 276px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-offer .year h3 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.new-offer .year .year-img {
    height: 140px;
    width: 140px;
    align-items: end;
    /* Image is not aligned to the end */
}

.new-offer .year .year-img img {
    width: 100%;
}

.new-offer .new-offer-img {
    height: 408px;
    width: 408px;
    border-radius: 50%;
    border: 15px solid #F00;
    padding: 40px;
}

.new-offer .new-offer-img img {
    width: 100%;
}

/* Sale */
#sale {
    margin-top: 120px;
}

.sale .sale-text {
    text-align: center;
}

.sale .sale-text h5 {
    color: #070211;
    margin-bottom: 16px;
}

.sale .sale-text h1 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 28px;
}

.sale .sale-text p {
    max-width: 1068px;
    margin: 0 auto;
    text-align: center;
}

.sale .sale-img {
    max-width: 1320px;
    height: 433px;
    background-image: url(../images/Rectangle01.png);
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 16px 16px 0px 0px;
    margin-top: 64px;
}

.sale .sale-img img {
    position: relative;
    top: 20%;
    left: 56%;
}

.sale .sale-footer {
    width: 1320px;
    height: 229px;
    background-image: url(../images/Rectangle02.png);
    border-radius: 16px 0px 16px 16px;
}

.sale .sale-footer img {
    /* mix-blend-mode: screen; */
    /* mix blend not working */
    position: relative;
    bottom: 190%;
}

/* Portfolio */
#portfolio {
    margin-top: 120px;
}

.portfolio .portfolio-text h3 {
    margin-top: 16px;
    margin-bottom: 22px;
}

.portfolio .portfolio-text p {
    max-width: 896px;
}

.portfolio .portfolio-img {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.portfolio .portfolio-img .portfolio-img-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.portfolio .portfolio-img .portfolio-img-2 {
    display: flex;
    justify-content: space-between;
}

.portfolio .portfolio-img img {
    width: 424px;
    height: 450px;
}

/* Newsletter */
#newsletter {
    margin-top: 120px;
    margin-bottom: 120px;
}

.newsletter {
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.newsletter .newsletter-icon {
    padding-top: 80px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter .newsletter-text {
    text-align: center;
}

.newsletter .newsletter-text p {
    width: 896px;
    margin: 22px auto 48px;
}

.newsletter form {
    max-width: 648px;
    margin: 0 auto;
    display: flex;
    gap: 0px;
}

.newsletter form input {
    flex-grow: 1;
    border: none;
    border-radius: 50px 0 0 50px; 
    color: black;
    padding: 25px;
    font-size: 18px;
    outline: 0.1px solid salmon;
}

.button-shape {
    border-radius: 0 50px 50px 0;
    text-transform: capitalize;
    font-weight: 600;
}